[access]
	inheritFrom = dmaap
[project]
	description = It is a docker container that implements the dbcapi. It optionally can be deployed in a persistent mode which relies on PGaaS, in which case multiple containers can also be deployed for scale/availablity.
[access "refs/*"]
	read = group GitHub Replication
[allowSuperproject "doc"]
	matching = refs/heads/master:refs/heads/master
