[access]
	inheritFrom = All-Projects
[project]
	description = Provides a northbound REST API to ONAP clients to manage DMaaP resources. This includes DMaaP components such as MR and DR, as well as provisioning of topics and feeds. Southbound, it communicates with the respective component APIs.
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-dmaap-buscontroller-committers
[plugin "its-jira"]
	enabled = true
